<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>邀评邮件</title>
</head>
<body>
<p>Dear <span th:text="${customer}">xxx</span>,</p>
<p>
    Thank you for your time. We know you are a friendly and warmhearted person from one of our friends. We are looking for
    someone to test our product and write a review, after that you could keep the sample valued at $179.We will be very
    appreciative if you would like to do us a favour.
</p>
<p>
    If you could generously spare us a few minutes, we hope you'll consider reviewing my product “Wireless Security Camera
    System ”.
</p>

<!--<img src="classpath:/static/8-1.jpg">-->
<img src="../static/8-1.jpg">

<p>
    You can discover more about the product detail from the following link:
</p>
<a href="https://www.amazon.com/Wireless-4-Channel-Surveillance-Detection-Recording/dp/B082R2TVB3/ref=sr_1_1?dchild=1&keywords=Wireless+Security+Camera+System&qid=1623116806&sr=8-1
">https://www.amazon.com/Wireless-4-Channel-Surveillance-Detection-Recording/dp/B082R2TVB3/ref=sr_1_1?dchild=1&keywords=Wireless+Security+Camera+System&qid=1623116806&sr=8-1
</a>
<p>
    Thank you so much for reading. We really appreciate your great assistance for us.
    <br>
    Sent you our best wishes, we are waiting for your early reply.
</p>
<p>
    Thank you,
    <br>
    JideTech store
</p>
</body>
</html>